---
import Layout from "@/components/shared/layouts/default.astro";
---

<Layout>
    <p class="text-display-sm font-thin">Astro</p>
    <p class="text-display-sm font-extralight">Astro</p>
    <p class="text-display-sm font-light">Astro</p>
    <p class="text-display-sm font-normal">Astro</p>
    <p class="text-display-sm font-medium">Astro</p>
    <p class="text-display-sm font-semibold">Astro</p>
    <p class="text-display-sm font-bold">Astro</p>
    <p class="text-display-sm font-extrabold">Astro</p>
    <p class="text-display-sm font-black">Astro</p>
</Layout>
